<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Cashier Manager</title>
  <!-- Bootstrap core CSS-->
  <link href="../assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="../assets/datatables/dataTables.bootstrap4.css" rel="stylesheet">
  <!-- Custom styles for this template-->
  <link href="../css/sb-admin.css" rel="stylesheet">
  <link href="../css/styles.css" rel="stylesheet">
</head>

<body onload="Xu_ly_Khoi_dong()" class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
      <a class="navbar-brand" href="/employee">Cashier Manager</a>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
            <a class="nav-link" href="/employee">
              <i class="fa fa-fw fa-dashboard"></i>
              <span class="nav-link-text">Dashboard</span>
            </a>
          </li>
          <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
            <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
              <i class="fa fa-fw fa-table"></i>
              <span class="nav-link-text">Manage</span>
            </a>
            <ul class="sidenav-second-level collapse" id="collapseMulti">
              <li>
                <a class="nav-link" href="/employee/sell_product">
                  <i class="fa fa-fw fa-table"></i>
                  <span class="nav-link-text">Sell Product</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="navbar-nav sidenav-toggler">
          <li class="nav-item">
            <a class="nav-link text-center" id="sidenavToggler">
              <i class="fa fa-fw fa-angle-left"></i>
            </a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
              <i class="fa fa-fw fa-sign-out"></i>Logout</a>
          </li>
        </ul>
      </div>
  </nav>
  <div class="content-wrapper">
    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="/employee">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Sell</li>
      </ol>
      <!-- Example DataTables Card-->
      <div class="card mb-3">
        <div class="card-header">
          <i class="fa fa-table"></i> Sell Product</div>
        <div class="card-body">
          <!-- Form Bán Sản Phẩm -->
          <div class="form_sell_product">
            <form class="add_product">
              <div class="row">
                <div class="col-lg-6">
                  <label for="Th_Ho_ten">Customer Name:</label>             
                  <input id="Th_Ho_ten" class="form-control" autocomplete="off" value="" required>
                  <label for="Th_Ma_so_San_pham">Product's ID</label>  
                  <input id="Th_Ma_so_San_pham" class="form-control" type="text" autocomplete="off" value="" required/>
                  <label for="Th_Ho_ten_nv">Cashier Name:</label>             
                  <input id="Th_Ho_ten_nv" class="form-control" disabled value="Đăng nhập" required>
                </div>
                <div class="col-lg-6">
                  <label for="Th_Address">Address:</label> 
                  <input id="Th_Address" class="form-control" type="text" value="" required>
                  <label for="Th_So_luong">Quantity:</label> 
                  <input id="Th_So_luong" class="form-control" type="number" autocomplete="off" value="" required/>
                </div>
              </div>
              <button class="btn btn-primary add-row" type="button" style="float: right; clear: both;">Add product</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>STT</th>
                        <th>Họ tên khách hàng</th>
                        <th>Địa chỉ</th>
                        <th>Ngày lập hóa đơn</th>
                        <th>Sản phẩm</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Tiền</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <div class="btn btn-primary sell_product" onclick="Xu_ly_Ban_hang()" style="float: right; clear: both;margin: 10px 0px;">Sell product</div>
          </div>
        </div>
      </div>
    </div>
    <footer class="sticky-footer">
      <div class="container">
        <div class="text-center">
          <small>Copyright © My Website 2018</small>
        </div>
      </div>
    </footer>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="#">Logout</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../assets/jquery/jquery.min.js"></script>
    <script src="../assets/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="../assets/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="../assets/datatables/jquery.dataTables.js"></script>
    <script src="../assets/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="../js/sb-admin.min.js"></script>
    <script src="../js/shop_custom_nv.js"></script>
    <!-- Custom scripts for this page-->
    <script src="../js/sb-admin-datatables.min.js"></script>
    <script src="../js/Xu_ly_Nhan_vien.js" ></script>
  </div>

  <script type="text/javascript">
  //*************** Biến dùng chung  ************
  var Danh_sach_San_pham=[]
  //*************** Biến Cố Khởi động  ************
  function Xu_ly_Khoi_dong() {
      Danh_sach_San_pham = Doc_Danh_sach_Mat_hang();
  }

  //*************** Biến Cố Yêu cầu Bán hàng  *************
  function Xu_ly_Ban_hang(){    
    $("table tbody").find('tr').each(function(){
        var Ho_ten = $(this).find("td:eq(1)").text();
        var Dia_chi = $(this).find("td:eq(2)").text();
        var Ngay = $(this).find("td:eq(3)").text();
        var Ma_san_pham = $(this).find("td:eq(4)").text();
        var So_luong = $(this).find("td:eq(5)").text();
        var Don_gia = $(this).find("td:eq(6)").text();
        var Tien = $(this).find("td:eq(7)").text();
        
        Ban_hang(Ma_san_pham, So_luong, Don_gia, Tien, Ho_ten, Dia_chi, Ngay);
    });
    
    
  }

  </script>
</body>

</html>
